!DEFAULT
{
	fontsize 6 10
	font id
	textstyle 1
	monospace
}


NetGraph
{
	rect 592 432 48 48
	bgcolor 0.25 0.25 0.25 0.25
	fill
}

NetGraphPing
{
	rect 592 432 48 12
	textalign C
}


WeaponList
{
	rect 0 80 60 16
	color 0.25 0.25 1 0.75
	fontsize 12 16
}


StatusBar_HealthIcon
{
	rect 280 440 40 40
	image "models/players/mynx/icon_pm.tga"
}

StatusBar_HealthCount
{
	rect 320 440 40 40
	font idblock
	fontsize 32 40
	textstyle 0
}


StatusBar_ArmorIcon
{
	rect 440 440 40 40
}

StatusBar_ArmorCount
{
	rect 480 440 40 40
	font idblock
	fontsize 32 40
	textstyle 0
}


StatusBar_AmmoIcon
{
	rect 80 440 40 40
}

StatusBar_AmmoCount
{
	rect 120 440 40 40
	font idblock
	fontsize 32 40
	textstyle 0
}


FPS
{
	rect 0, 20, 640, 12
	color 1, 1, 1, 1
	fontsize 12 16
	textalign R
	color 0, 0, 0, 0 	# disabled
}


GameTime
{
	rect 0, 0, 640, 16
	fontsize 12 16
	textalign R
	monospace
}


GameType
{
	rect 0, 16, 640, 24
	fontsize 20
	textalign C
	color 1, 1, 0, 1
}


WarmupInfo
{
	rect 0, 40, 640, 24
	fontsize 14
	textalign C
	color 1, 0, 0, 1
}


FollowMessage
{
	rect 0, 64, 640, 12
	textalign C
}


SpecMessage
{
	rect 0, 80, 640, 16
	fontsize 16
	textalign C
}


FragMessage
{
	rect 0, 80, 640, 16
	fontsize 16
	textalign C
	time 1500
	fade 1, 1, 1, 0.5
}


RankMessage
{
	rect 0, 96, 640, 12
	textalign C
	time 1500
	fade 1, 1, 1, 0.5
}


PlayerSpeed
{
	color 0, 0, 0, 0 	# disabled
}


ItemPickup
{
	color 0, 0, 0, 0 	# disabled
}


ItemPickupIcon
{
	color 0, 0, 0, 0 	# disabled
}


TargetName
{
	color 0, 0, 0, 0 	# disabled
}

TargetStatus
{
	color 0, 0, 0, 0 	# disabled
}


Chat1 { rect 0, 372, 640, 12; time 3000; }
Chat2 { rect 0, 360, 640, 12; time 3000; }
Chat3 { rect 0, 348, 640, 12; time 3000; }
Chat4 { rect 0, 336, 640, 12; time 3000; }
# disabled	Chat5 { }
# disabled	Chat6 { }
# disabled	Chat7 { }
# disabled	Chat8 { }


VoteMessageArena
{
	rect 0, 60, 640, 16
	fontsize 6
	textalign C
}


VoteMessageWorld
{
	rect 0, 76, 640, 16
	fontsize 6
	textalign C
	color 1, 1, 0, 1
}


Score_Limit { rect 0, 420, 32, 20; textalign R; fontsize 16 20; bgcolor 0.5 0.5 0.5 0.5; fill; }
Score_OWN   { rect 0, 440, 32, 20; textalign R; fontsize 16 20; bgcolor 1 1 1 0.5; fill; color T; }
Score_NME   { rect 0, 460, 32, 20; textalign R; fontsize 16 20; bgcolor 0 1 0 0.5; fill; color E; }


# that's all the DM stuff


!DEFAULT { bgcolor 0.5 0.5 0.5 0.25; textalign R; fontsize 8 12; }

Team1 { rect 0, 372, 640, 12; color T; }
Team2 { rect 0, 360, 640, 12; color T; }
Team3 { rect 0, 348, 640, 12; color T; }
Team4 { rect 0, 336, 640, 12; color T; }
Team5 { rect 0, 324, 640, 12; color T; }
Team6 { rect 0, 312, 640, 12; color T; }
Team7 { rect 0, 300, 640, 12; color T; }
Team8 { rect 0, 288, 640, 12; color T; }


!DEFAULT { bgcolor 0 0 0 0; textalign R; font idblock; fontsize 24 32; }

PowerUp1_Icon { rect 608, 264, 32, 32; }	# also used for the O/D indicator in CTFS
PowerUp1_Time { rect 544, 264, 64, 32; }

PowerUp2_Icon { rect 608, 232, 32, 32; }
PowerUp2_Time { rect 544, 232, 64, 32; }

PowerUp3_Icon { rect 608, 200, 32, 32; }
PowerUp3_Time { rect 544, 200, 64, 32; }

PowerUp4_Icon { rect 608, 168, 32, 32; }
PowerUp4_Time { rect 544, 168, 64, 32; }


# note: team coloring for images needs BGCOLOR alpha to be non-zero
FlagStatus_OWN { rect 608 400 32 32; bgcolor 1 1 1 1; color T; }
FlagStatus_NME { rect 568 400 32 32; bgcolor 1 1 1 1; color E; }


!DEFAULT { bgcolor 0.5 0.5 0.5 0.5; textalign L; font id; fontsize 12 16; }

TeamCount_OWN { rect 620, 40, 20, 20; color T; fill; }
TeamIcon_OWN  { rect 600, 40, 20, 20; image "models/players/mynx/icon_pm.tga"; }
TeamCount_NME { rect 620, 64, 20, 20; color E; fill; }
TeamIcon_NME  { rect 600, 64, 20, 20; image "models/players/sarge/icon_pm.tga"; }
